nav > div {
    display:inline-block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:300;
    text-align:center;
    transition: all 0.2s;
    align-self: center;
    color: white;
}


body {
    background-image: url("images/back1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}

.container{
	width:100%;
	margin:auto;
	overflow:hidden;
}

#main-header{
	background-image:url('images/heading.jpg');
    color:#fff;
    text-align: left;
}

#navbar{
	background-color:#333;
    color:#fff;
    padding:0;
    list-style: none;
    display:inline;
}

#images{
    display: inline-block;
    padding:1em em;
    align-items: center;
    border-radius:0.12em;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:left;

}

div {
    display:block;
    padding:0.35em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
table, th, td {
    padding: 10px;
    text-align: center;

    color:#FFFFFF;
}

input {
    display: inline-block;
    align-content: center;
    text-align: center;
    color: white;
}

div > img {
    width: 18%;
    height: 20%;
    padding: 5px 9px;
    align-content: center;
}

.button{
	background-color:white;
	padding:10px 20px;
    border:solid;
    border-color: red;
    border-radius: 10px;
}